body{
    background: lightcyan;
}
a{
    text-decoration: none;
}
.box-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    background: white;
    width: 84%;
    margin: auto;
    box-shadow: 1px 2px 4px 1px #0000003d;
    padding: 20px;
    /* height: 65%; */
    border: 1px solid #e4dede;
}
.form-control{
    width: 100%;
    height: 30px;
    box-shadow: -3px 0px 5px 0px #ff8100;
    margin-top: 5px; 
    
}
.btn-form{
    color: #0a0a0a;
    background: #cbbb10;
    padding: 10px 30px;
    width: 100%;
    height: 40px;
    font-size: 12pt;
}
.log-in:hover{
    color:orange ;
    text-decoration: underline;
}
.login-text{
    margin-top: 20px;
}
.log-in-help{
    padding-top: 20px;
}
.form-group{
margin-bottom:15px ;
padding: 0 30px;
}

@media screen and (min-width: 567px) {
    .form{
        width: 63%;
        height: 75%;
    }
}

@media screen and (min-width: 922px) {
    .form{
        width: 75%;
        height: 71%;
        
    }
}
@media screen and (min-width: 1200px) {
    .form{
        width: 70%;
        height: 69%;
    } 
}
@media screen and (min-width: 1400px) {
    .form{
        width: 60%;
        height: 69%;
    } 
}