.form{
    box-shadow:0 0 0 black 
}
.form-login{
    width: 40%;
    margin: auto;
    padding: 20px;

}
.btn-form{
    color: #0a0a0a;
    background: #cbbb10;
    padding: 10px 30px;
    width: 80%;
    height: 40px;
    font-size: 12pt;
}
.form-group{
margin-bottom:15px ;
}
.form-control{
    width: 78%;
    height: 30px;

}