body {
    margin: 0px;
    direction: ltr;
  }
  a {
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* beginning of header */
  header {
    background-color: white;
    height: 150px
  }
  
  
  #top-header {
    background-color: #1d1c1c;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    position: fixed; 
  }
  #nav-one {
    display: flex;
    justify-content: space-around;
    width: 64%;
  }
  #nav-one a {
    padding: 5px;
    display: inline-block;
    color: rgb(221 202 202);
  }
  
  #nav-one a:hover {
    color: white;
  }
  .fa-apple{
    font-size: 13pt;
    color: rgb(221 202 202);
  }
  .fa-apple:hover{
    color: white;
  }
  .fa-search{
    font-size: 13pt;
    color: rgb(221 202 202);
    padding-right: 37px;
    padding-left: 12px;
  }
  .fa-search:hover{
    color: white;
  }
  .fa-shopping-bag{
    font-size: 13pt;
    color:rgb(221 202 202);
  }
  .fa-shopping-bag:hover{
    color: white;
  }  
  
   .bottom-header {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
  
    text-align: center;
    font-size: medium;
    padding: 50px 174px;
  }
  #image-1{
    background-image: url(images/mac/macbookair.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 66px;
    height: 59px;
  }
  #image-2{

    background-image: url(images/mac/macbook_pro.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }

  #image-3{

    background-image: url(images/mac/imac__7.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }

  
  #image-4{

    background-image: url(images/mac/mac_pro_light.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }

  
  #image-5{

    background-image: url(images/mac/mac_pro_display.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }
  
  #image-6{

    background-image: url(images/mac/mac_os.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }
  
  #image-7{
    background-image: url(images/mac/mac_mini.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }
  
  #image-8{

    background-image: url(images/mac/mac_compare.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }
  
  #image-9{

    background-image: url(images/mac/mac_accessories.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height:50px;
  }
  
  #image-10{

    background-image: url(images/mac/mac_shop.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height:50px;
  }
  .link-bottom-header{
    color: #876f6f;
    font-size: 9pt;
    
  }
  .link-bottom a:hover{
    text-decoration: underline;
    color: blue;
  }
  .top-main{
      background-color: #ce3737;
      height: 50px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-size: medium;
      
  }

  main {
    background-color: white;
    min-height: 1000px;
  }
  .top-main{
    color: white;
  }
  #shop{
    color: white;
  }
  .banner-1{
    background-image: url(images/banner/macbookpro.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  width: 100%;
  height: 636px;

  }
  #title-1{
    color: red;
  }
  footer{
    background: cadetblue;
    min-height: 500px;
  }